*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-lightGray: #282828;
    --dark-darkGray: #1f1f1f;
    --dark-wfont: #fff;
    --accent-pink: #df9dc9;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(./assets/img/forest.jpg);
}

#content {
    width: 85vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 375px auto;
    grid-template-rows: min-content;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.64);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.64);;
}

#headerBar {
    grid-column: 1 / span 2;
    height: 40px;
    border-bottom: 2px solid blueviolet;
}

#headerBar,
#sideBar {
    background-color: var(--dark-lightGray);
    color: var(--dark-wfont);
}

#mainBody {
    background-color: var(--dark-darkGray);
}

.taskForm {
    /* Change display before production */
    display: none; 
    position: fixed;
    top: 25%;
    left: 35%;
    border: 2px solid var(--accent-pink);
    width: 800px;
    background-color: var(--dark-lightGray);
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.25rem;
}

.formFooter {
    display: flex;
    justify-content: end;
}

.formFooter > button {
    background: none;
    outline: none;
    border: 2px solid var(--accent-pink);
    border-radius: 15px;
    color: var(--accent-pink);
    padding: 8px;
    cursor: pointer;
}

input {
    font-size: 1.25rem;
}

input[type=text] {
    width: 500px;
}

select {
    font-size: 1.25rem;
    width: 200px;
}

.formLegend {
    padding: 20px;
}

.formHeader {
    display: flex;
    justify-content: space-between;
}

#closeTask {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}